<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浮出层</title>
    <script src="../../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../../css/test38.css">
</head>
<body>
<button id="btn">遮幕</button>
<div id="pageDiv">
    <div>
        <div>
            <span>这是一个浮出层</span>
        </div>
        <div>
            <span>这是一个浮出层</span>
            <button>取消</button>
            <button>确定</button>

        </div>
    </div>
</div>
    <p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p>
    <p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p>
    <p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p>
    <p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p><p>sss</p>

    <script src="../../js/test38.js"></script>
</body>
</html>